.development{
    display: flex;
    justify-content: space-between;
    gap: 277px;
    padding-top: 220px;
}
.development-design{

}
.development-image{

}
.development-design h3{
    font-family: "GeometriaBold";
    font-size: 45px;
    line-height: 57px;
    color: #1E3147;
    margin-bottom: 30px;

}
.development-design p{
    margin-top: 20px;
    font-family: "GeometriaRegular";
    font-size: 20px;
    line-height: 25px;
    color: #1E3147;
}
