.develoment{
    display: flex;
    justify-content: space-between;
    gap: 277px;
    padding-top: 220px;
}
.develoment-designe{

}
.develoment-image{

}
.develoment-designe h3{
    font-family: "GeometriaBold";
    font-size: 45px;
    line-height: 57px;
    color: #1E3147;

}
.develoment-designe p{
    margin-top: 50px;
    font-family: "GeometriaRegular";
    font-size: 20px;
    line-height: 25px;
    color: #1E3147;
}
