.wr-footer {
    background-color: #1e3147;
    align-items: center;
    display: block;
    text-align: center;
    margin-top: 90px;
    padding: 45px 0 20px;
}
@media all and (min-width: 576px) {
    .wr-footer {
        padding: 37px 0 14px;
    }
}
@media all and (min-width: 768px) {
    .wr-footer {
        padding: 37px 61px 14px 61px;
    }
}
@media all and (min-width: 1200px) {
    .wr-footer {
        padding: 37px 0 20px;
    }
}
@media all and (min-width: 1920px) {
    .wr-footer {
        padding: 37px 0;
    }
}
@media all and (min-width: 1200px) {
    .wr-footer .container-custom .wr-footer-container{
        display: flex;
        align-items: center;
    }
}
@media all and (min-width: 1200px) {
    .wr-footer .container-custom {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
@media all and (min-width: 1920px) {
    .wr-footer .container-custom {
        max-width: 1760px;
    }
}

.footer-text {
    font-family: "GeometriaRegular", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.8;
    position: relative;
    margin: 15px 0 40px;
    text-decoration: none;
    text-align: center;
}
@media all and (min-width: 1200px) {
    .footer-text {
        display: none;
    }
}
@media all and (min-width: 1920px) {
    .footer-text {
        display: block;
        margin: 0;
        max-width: 240px;
    }
}
.footer-logo-text{
    display: block;
    text-align: center;
}
@media all and (min-width: 1920px) {
    .footer-logo-text{
        display: flex;
        align-items: end;
        position: relative;
        margin-right: 36px;
    }

    .footer-logo-text:after {
        content: "";
        width: 1px;
        height: 30px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.menu li a {
    white-space: nowrap;
}

.menu {
    margin-bottom: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 19px;
}
@media all and (min-width: 576px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media all and (min-width: 1200px) {
    .menu {
        gap: 75px;
        margin: 0 60px 0 60px ;
    }
}
@media all and (min-width: 1920px) {
    .menu {
        gap: 100px;
        margin: 0;
        display: flex;
        align-self: center;
    }
}

.menu__nav {
    font-family: "GeometriaBold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.contacts {
    background-color: #fff;
    border-radius: 50px;
    gap: 15px;
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    padding: 8px 17px 7px 11px;
    max-width: fit-content;
}
@media all and (min-width: 576px) {
    .contacts {
        margin: 0;
        max-width: 100%;
    }
}
@media all and (min-width: 1200px) {
    .contacts {
        height: fit-content;
    }
}
@media all and (min-width: 1920px) {
    .contacts {
        gap: 15px;
        display: flex;
        margin-left: 64px;

    }
}
@media all and (min-width: 768px) {
    .contacts img {
       width: 42px;
    }
}

.contacts__name {
    font-family: "GeometriaMedium", sans-serif;
    font-size: 12px;
    color: #1E3147;
}


.contacts__info {
    color: #33a1fb;
    margin: 5px 0 5px;
    font-family: Geometria, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.mail {
    justify-content: center;
    gap: 10px;
    display: flex;
    margin-top: 30px;
}
@media all and (min-width: 576px) {
    .mail {
        margin: 20px 0 20px;
    }
}
@media all and (min-width: 1200px) {
    .mail {
       display: none;
    }
}
@media all and (min-width: 1920px) {
    .mail {
        display: flex;
        margin: 0;
    }
}
.mail__teroom {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
text-decoration: none;
    color: #FFFFFF;
}
.mail-info-guru {
    display: none;
}
@media all and (min-width: 1920px) {
    .mail-info-guru {
        font-family: "GeometriaMedium", sans-serif;
        font-weight: 500;
        font-size: 11px;
        color: #FFFFFF;
        margin-top: 20px;
        padding-bottom: 20px;
        display: block;
    }
}
.mail-info {
    font-family: "GeometriaMedium", sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #FFFFFF;
    margin-top: 20px;
    padding-bottom: 20px;
}
@media all and (min-width: 1200px) {
    .mail-info {
        display: none;
    }
}

.contacts-mail{
    display: block;
}
@media all and (min-width: 576px) {
    .contacts-mail{
        display: flex;
        justify-content: space-between;
    }
}
@media all and (min-width: 1200px) {
    .contacts-mail {
        display: block;
    }
}
@media all and (min-width: 1920px) {
    .contacts-mail {
        display: flex;
        align-items: center;
        margin: 0;
        gap: 46px;
    }
}
@media all and (min-width: 1200px) {
    .wr-footer nav {
        display: flex;
        align-items: center;
    }
}
.wr-footer-desktop-components {
    display: none;
}
@media all and (min-width: 1200px) {
    .wr-footer-desktop-components {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media all and (min-width: 1920px) {
    .wr-footer-desktop-components {
        display: none;
    }
}
.desktop-footer-text, .wr-footer-desktop-mail {
    display: flex;
    align-items: center;
    gap: 10px;
}
.wr-footer-desktop-mail {
    margin-right: 110px;
}

.desktop-footer-text {
    font-family: "GeometriaRegular", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.8;
    position: relative;
    text-decoration: none;
    text-align: center;
}
