@import 'fonts.css';
@import 'preview.css';
@import 'describes.css';
@import 'steps.css';
@import "registering.css";
@import "platform.css";
@import "services.css";
@import "opportunities.css";
@import "rates.css";
@import "development.css";
@import "questions.css";
@import "problems.css";
@import "footer.css";
@import "review.css";



h1, h1, h3, h4, h5{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

button {
  cursor: pointer;
}
ul{
  list-style: none;
}

input {
  outline: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
input::placeholder {
  font-family: 'GeometriaMedium', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #99A3C5;
}

* {
  margin: 0;
  padding: 0;

}

.container-custom {
  padding: 0 15px;
  margin: 0 auto;
}

@media all and (min-width: 576px) {
  .container-custom {
    padding: 0 36px;

  }
}

@media all and (min-width: 768px) {
  .container-custom {
    padding: 0 39px;
  }
}

@media all and (min-width: 1200px) {
  .container-custom {
    padding: 0 45px;

  }
}
@media all and (min-width: 1920px) {
  .container-custom {
    max-width: 1460px;
  }
}

.container-title-custom {
  width: 100%;
  text-align: center;
}

.container-title-custom h2 {
  font-family: 'GeometriaBold', sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #1E3147;
}
@media all and (min-width: 1920px) {
  .container-title-custom h2  {
    font-size: 48px;
    line-height: 60px;
  }
}



.common-btn-md {
  background-color: #33A1FB;
  box-shadow: 0px 10px 15px -6px rgba(51, 161, 251, 0.5);
  border-radius: 29px;
  font-family: "GeometriaRegular", sans-serif ;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
  white-space: nowrap;
}
.common-btn-lg {
  background-color: #33A1FB;
  box-shadow: 0px 10px 15px -6px rgba(51, 161, 251, 0.5);
  border-radius: 29px;
  font-family: "GeometriaBold", sans-serif ;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 27px;
  color: #fff;
  text-align: center;
  outline: none;
  border: 3px solid #33A1FB;
  white-space: nowrap;
}
@media all and (min-width: 1920px) {
  .common-btn-lg{
    font-size: 20px;
    padding: 18px 28px;
  }
}

.underline-btn {
  background-color: transparent;
  font-family: "GeometriaRegular", sans-serif ;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #33A1FB;
  border: 3px solid #33A1FB;
  border-radius: 29px;
  outline: none;
  padding: 13px 27px;
  white-space: nowrap;
}
@media all and (min-width: 1920px) {
  .underline-btn{
    font-size: 20px;
    padding: 18px 32px 18px 20px;
  }
}

.dashed-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  border: 1px dashed #1E3147;
}

.plus-icon  {
  position: absolute;
}
.plus-icon  .vertical{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}
.plus-icon  .horizontal{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.circle-icon {
  position: absolute;
  border-radius: 50%;
}
.wr-common-bg {
  background-image: url("../media/platform/common_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media all and (min-width: 1920px) {
  .wr-common-bg{
    background-size: cover;
  }
  .menu-desktop {
    display: flex;
    flex-direction: column;
  }
}

.wr-cookie-alert {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 24px 0 20px 0;
  z-index: 10;

}
.wr-cookie-alert.none {
  display: none;
}
.cookie-alert {
  font-family: "GeometriaRegular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #1E3147;
  display: flex;
  align-items: center;
}
.cookie-alert a {
  color: #33A1FB;
}
.wr-cookie-btn {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
@media all and (min-width: 768px) {
  .wr-cookie-btn {
    margin-left: 146px;
  }
}
.wr-cookie-btn button {
  display: none;
}
@media all and (min-width: 768px) {
  .wr-cookie-btn button {
    margin-right: 67px;
    display: block;
  }
}
@media all and (min-width: 1920px) {
  .wr-rates .container-custom{
    padding: 26px 0 67px;
  }
}