.wr-preview {
  background-image: url("../media/preview/bg_img.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header-list-substrate {
  display: none;
}
@media all and (min-width: 1200px) {
  .header-list-substrate {
    display: block;
  }
}


.header-link {
  font-family: 'GeometriaRegular', sans-serif;
  font-size: 16px;
  line-height: 12px;
  color: #99A3C5;
  text-decoration: none;
  padding: 30px;
}

.wr-home {
  position: relative;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 46px;
}
@media all and (min-width: 1200px) {
  .wr-home {
    flex-direction: row;
    align-items: center;
  }
}

@media all and (min-width: 1920px) {
  .wr-home {
    gap: 315px;
  }
}
.home-title {
  font-family: 'GeometriaBold', sans-serif;
  font-size: 48px;
  line-height: 60px;
  color: #1E3147;
}
.home-describe {
  font-family: 'GeometriaRegular', sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #1E3147;
  margin-top: 30px;
}

.wr-home-text .home-describe, .wr-home-text .wr-home-btn{
  display: none;
}
.wr-home-mobile .home-describe{
  display: block;
}
.wr-home-mobile .wr-home-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 44px;
}
.wr-home-mobile .wr-home-btn button{
  font-size: 18px;
  width: 100%;
  padding: 13px 0;
}
@media all and (min-width: 576px) {
  .wr-home-text .home-describe {
    display: block;
  }
  .wr-home-text  .wr-home-btn {
    display: flex;
    margin-top: 100px;
    gap: 45px;
    align-items: center;
  }
  .wr-home-mobile {
    display: none;
  }
}
@media all and (min-width: 1920px) {
  .wr-home-text  .wr-home-btn {
    gap: 57px;
  }
}

.wr-home-text {
  min-width: 479px;
}
@media all and (min-width: 1200px) {
  .wr-home-text {
    max-width: 560px;
  }
}


.wr-home-image {
  position: relative;
  width: 100%;
}

.wr-home-image img:nth-child(1) {
 width: 100%;
}
.wr-home-image img:nth-child(2) {
  position: absolute;
  left: 10%;
}
.wr-home-image img:nth-child(3) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-100%);
}

.wr-home-image a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.wr-burger-btn{
  display: flex;
  align-items: center;
  gap: 20px;
}
.burger-button {
  cursor: pointer;
}




