.wr-preview {
  background-image: url("../media/preview/bg_img.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.nav-list {
  display: grid;
  list-style: none;
  gap: 30px;
  grid-template-columns: repeat(4, auto);
}

.header-list-substrate {
  display: none;
}
@media all and (min-width: 1200px) {
  .header-list-substrate {
    display: block;
  }
}


.header-link {
  font-family: 'GeometriaRegular', sans-serif;
  font-size: 16px;
  line-height: 12px;
  color: #99A3C5;
  text-decoration: none;
  padding: 30px;
}
.header-link:hover {
  text-shadow: 0 0 1px #33A1FB, 0 0 1px #33A1FB;
  color: #33A1FB;
}

.wr-home {
  position: relative;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 1200px) {
  .wr-home {
    flex-direction: row;
    align-items: center;
  }
}
.home-title {
  font-family: 'GeometriaBold', sans-serif;
  font-size: 30px;
  line-height: 38px;
  color: #1E3147;
}
@media all and (min-width: 576px) {
  .home-title {
    font-size: 36px;
    line-height: 45px;
  }
}
@media all and (min-width: 1920px) {
  .home-title {
    font-size: 48px;
    line-height: 60px;
  }
}
.home-describe {
  font-family: 'GeometriaRegular', sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #1E3147;
  margin-top: 30px;
}
@media all and (min-width: 1920px) {
  .home-describe {
    font-size: 20px;
    line-height: 25px;
  }
}


.wr-home-text .home-describe, .wr-home-text .wr-home-btn{
  display: none;
}
.wr-home-mobile .home-describe{
  display: block;
}
.wr-home-mobile .wr-home-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 44px;
}
.wr-home-mobile .wr-home-btn button:nth-child(1){
  margin-bottom: 20px;
}
.wr-home-mobile .wr-home-btn button{
  font-size: 18px;
  width: 100%;
  padding: 13px 0;
}
@media all and (min-width: 576px) {
  .wr-home-text .home-describe {
    display: block;
  }
  .wr-home-text  .wr-home-btn {
    display: flex;
    margin-top: 100px;
    align-items: center;
  }
  .wr-home-text  .wr-home-btn  button:nth-child(1){
    margin-bottom: 0;
    margin-right: 45px;
  }
  .wr-home-mobile {
    display: none;
  }
}
@media all and (min-width: 1920px) {
  .wr-home-text  .wr-home-btn  button:nth-child(1){
    margin-right: 57px;
  }
}

@media all and (min-width: 1200px) {
  .wr-home-text {
    max-width: 560px;
  }
}


.wr-home-image {
  position: relative;
  width: 100%;
  margin-top: 46px;
}
@media all and (min-width: 1200px) {
  .wr-home-image {
    margin-top: 0;
  margin-left: 46px;
  }
}
@media all and (min-width: 1920px) {
  .wr-home-image {
    margin-left: 315px;
  }
}


.wr-home-image img:nth-child(1) {
 width: 100%;
}
.wr-home-image img:nth-child(2) {
  position: absolute;
  left: 10%;
}
.wr-home-image img:nth-child(3) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-100%);
}

.wr-home-image a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wr-home-image a:hover {
  opacity: 0.7;
}

.wr-burger-btn{
  display: flex;
  align-items: center;
}
.wr-burger-btn button{
  display: none;

}
@media all and (min-width: 576px) {
  .wr-burger-btn button {
    display: block;
    margin-right: 20px;
  }
}
.burger-button {
  cursor: pointer;
}

@media all and (min-width: 1200px) {
  .burger-button {
    display: none;
  }
}

.wr-mobile-nav {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 10;
  transition: 0.3s;
}

@media all and (min-width: 768px) {
  .wr-mobile-nav button {
    display: none;
  }
}
.wr-mobile-nav.active {
  transform: translateX(0);
}

.mobile-nav {
  background-color: white;
  width: 70%;
  padding: 18px 22px 0 22px;
  height: 100%;
}

.mobile-nav .nav-list {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  margin-bottom: 56px;
}
.mobile-nav .nav-list li a{
  font-family: 'GeometriaBold', sans-serif;
  font-size: 24px;
  line-height: 12px;
  color: #1E3147;
  padding: 18px 0;
}
.mobile-nav .nav-list li:nth-child(1) a{
  color: #33A1FB;
}
.wr-logo-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media all and (min-width: 576px) {
  .wr-mobile-nav .common-btn-md {
    display: none;
  }
}

.home-play {
  display: flex;
  align-items: center;
  margin-top: 30px;
  text-decoration: none;
}
.home-play p {
  font-family: 'GeometriaMedium',sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #33A1FB;
  border-bottom: 1px dashed #33A1FB;
  margin-right: 9px;
}

.animation-link {
  animation: animation-link 3s linear infinite;
}

@keyframes animation-link {
  0% {
    transform:  translate(-50%, -50%) scale(1);
  }
 25% {
   transform:  translate(-50%, -50%) scale(1.25);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  75%  {
    transform:  translate(-50%, -50%) scale(1.25);
  }
  100% {
    transform:  translate(-50%, -50%) scale(1);
  }
}