.wr-questions {
    padding-top: 130px;
}
@media all and (min-width: 576px) {
    .wr-questions {
        padding: 140px 36px 0 36px;
    }
}
@media all and (min-width: 768px) {
    .wr-questions {
        padding: 140px 39px 0 39px;
    }
}
@media all and (min-width: 576px) {
    .wr-questions {
        padding: 140px 47px 0 43px;
    }
}
@media all and (min-width: 1920px) {
    .wr-questions {
        padding-top: 180px;
    }
}
.wr-questions .container-custom {
    padding: 0;
}


.wr-questions h2{
    font-family: "GeometriaBold", sans-serif;
    color: #1E3147;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 60px;
}
@media all and (min-width: 1920px) {
    .wr-questions h2{
        font-size: 48px;
        text-align: center;
    }
}

.wr-questions-common {
    background-color: #F8F9FC;
    padding: 76px 15px 75px 15px;
    position: relative;
}
@media all and (min-width: 576px) {
    .wr-questions-common {
        border-radius: 30px;
        padding: 76px 40px 80px;

    }
}

@media all and (min-width: 768px) {
    .wr-questions-common {

        padding: 76px 60px 104px 86px;
    }
}

@media all and (min-width: 1200px) {
    .wr-questions-common {
        padding: 76px 87px 71px 104px;

    }
}
@media all and (min-width: 1920px) {
    .wr-questions-common {
        border-radius: 66px;
        padding: 76px 60px 104px 86px;
    }
}
.wr-questions-block {
    position: relative;
}
@media all and (min-width: 1200px) {
    .wr-questions-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;

    }
}
@media all and (min-width: 1920px) {
    .wr-questions-block {
        gap: 116px;
        position: relative;
    }
}
.wr-questions-items {
    display: grid;
    gap: 25px;
    width: 100%;
}
.wr-questions-item * {
    cursor: pointer;
}
.wr-questions-item img {
    transform: rotate(180deg);
}
.wr-questions-item {
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    padding: 18px;
    height: max-content;
}
.wr-questions-item-wrapper {
    position: relative;
}
.wr-questions-item-wrapper.active {
    min-height: 193px;
}
.wr-questions-item-wrapper.active .wr-questions-item-full{
    transform: translateY(0);
    z-index: 0;
}

.wr-questions-item-wrapper.active .wr-questions-item{
    display: none;
}

.wr-questions-item-full{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 18px;
    position: absolute;
    left:0;
    bottom: 0;
    transform: translateY(0);
    z-index: -5;
    transition-duration: 0.3s;
}

.wr-questions-item p{
    font-family: 'GeometriaMedium', sans-serif;
    font-size: 20px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: #788CA1;
}

.wr-questions-item-full div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.wr-questions-item-full h3{
    font-family: "GeometriaMedium", sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #1E3147;
}
.wr-questions-item-full ol {
   margin-left: 18px;
}
.wr-questions-item-full ol li {
    font-family: "GeometriaRegular", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #1E3147;
}
.wr-questions-image{
    display: flex;
}
.wr-questions-image img{
    display: none;
    margin: 0 auto;
}
@media all and (min-width: 576px) {
    .wr-questions-image img{
        display: block;
        max-width: 424px;
        margin-top: 90px;
    }
}
@media all and (min-width: 768px) {
    .wr-questions-image img{
        max-width: 560px;
    }
}
@media all and (min-width: 1200px) {
    .wr-questions-image img{
        width: 100%;
        margin-top: 0;
    }
}
.wr-questions-plus-bold {
    display: none;
    width: 36px;
    height: 36px;
    left: 10%;
    top: -14%;
    transform: matrix(0.27, -0.95, 0.98, 0.24, 0, 0);
}
@media all and (min-width: 1920px) {
    .wr-questions-plus-bold{
        display: block;
    }
}
.wr-questions-plus-thin {
    display: none;
    width: 36px;
    height: 36px;
    left: 48%;
    bottom: 5%;
    transform: matrix(0.27, -0.95, 0.98, 0.24, 0, 0);
}
@media all and (min-width: 1920px) {
    .wr-questions-plus-thin{
        display: block;
    }
}
.wr-questions-plus-bold div, .wr-questions-plus-thin div{
    background-color: #33A1FB;
}
.wr-questions-plus-bold .wr-questions-plus-vertical {
    width: 6px;
    height: 36px;
}
.wr-questions-plus-bold .wr-questions-plus-horizontal {
    height: 6px;
    width: 36px;
}
.wr-questions-plus-thin .wr-questions-plus-vertical {
    width: 2px;
    height: 36px;
}
.wr-questions-plus-thin .wr-questions-plus-horizontal {
    height: 2px;
    width: 36px;
}

.wr-questions-plus {
    display: none;
    width: 23px;
    height: 23px;
    left: -5%;
    top: 5%;
    transform: matrix(0.27, -0.95, 0.98, 0.24, 0, 0);
}
@media all and (min-width: 1920px) {
    .wr-questions-plus{
        display: block;
    }
}

.wr-questions-plus div {
    background-color: #1E3147;
}
.wr-questions-plus .wr-questions-plus-vertical {
    width: 1px;
    height: 23px;
}
.wr-questions-plus .wr-questions-plus-horizontal {
    height: 1px;
    width: 23px;
}