.wr-rates{
    margin-top: 180px;
    background-color: #F8F9FC;
}
@media all and (min-width: 576px) {
    .wr-rates{
        margin-right: 12px;
        border-radius: 0 66px 66px 0;
    }
}
@media all and (min-width: 768px) {
    .wr-rates{
        margin-right: 0;
        border-radius: 0;
        background-color: #fff;
    }
}
@media all and (min-width: 768px) {
    .wr-rates-select{
        padding: 26px 0 56px;
    }
}
@media all and (min-width: 1200px) {
    .wr-rates-select{
        padding: 26px 0 67px;
    }
}
.wr-rates-common {
    background-color: #F8F9FC;
    border-radius: 75px;
    padding: 78px 15px 234px 15px;
    position: relative;
}
@media all and (min-width: 576px) {
    .wr-rates-common{
        border-radius: 66px;
        padding: 75px 24px 224px 36px;
    }
}
@media all and (min-width: 768px) {
    .wr-rates-common{
        padding: 75px 60px 224px 60px;
    }
}
@media all and (min-width: 1200px) {
    .wr-rates-common{
        padding: 75px 92px 224px 32px;
    }
}
@media all and (min-width: 1200px) {
    .wr-rates-common{
        border-radius: 66px;
        padding: 78px 149px 194px 149px;
    }
}
.wr-rates-select {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0 46px;
    gap: 17px;
}
@media all and (min-width: 576px) {
    .wr-rates-select{
        flex-direction: row;
        gap: 20px;
        padding: 26px 0 67px;
    }
}
@media all and (min-width: 768px) {
    .wr-rates-select{
        padding: 26px 0 56px;
    }
}
@media all and (min-width: 1200px) {
    .wr-rates-select{
        padding: 26px 0 67px;
    }
}
.wr-rates-select select {
    border-radius: 24px;
    background-color: #fff;
    border: none;
    outline: none;
    color: #33A1FB;
    font-family: "GeometriaMedium", sans-serif;
    font-size: 14px;
    padding: 10px 30px 10px 20px;
    appearance: none;
    box-shadow: 0 5px 6px 2px rgba(0,0,0,.04);
    position: relative;
    background-image: url('../media/rates/arrow_down.svg');
    background-position-x: calc(100% - 20px);
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.wr-rates-select select option{
    border: none;
    outline: none;
    border-radius: 5px;
}
.rates-subtitle{
    font-family: "GeometriaRegular", sans-serif;
    font-size: 24px;
    color: #1E3147;
    text-align: center;
}
.wr-rates-columns{
    display: flex;
}
.rates-title{
    font-family: "GeometriaBold", sans-serif;
    font-size: 48px;
    text-align: center;
    color: #1E3147;
}
.wr-rates-functions{
    margin-top: 175px;
}
.wr-rates-functions li{
    font-family: "GeometriaMedium", sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #1E3147;
    padding: 11px 9px;
    max-width: 190px;
}
@media all and (min-width: 576px) {
    .wr-rates-functions li{
        padding: 13px 20px;
        max-width: 278px;
    }
}
.wr-rates-kinds {
    display: none;
}
@media all and (min-width: 1920px) {
    .wr-rates-kinds {
        display: block;
    }
}
.wr-rates-kinds.ratesSlider {
    display: none;
}
@media all and (min-width: 1200px) {
    .wr-rates-kinds.ratesSlider{
        display: block;
    }
}
@media all and (min-width: 1920px) {
    .wr-rates-kinds.ratesSlider {
        display: none;
    }
}
.wr-rates-kinds.ratesSliderMobile {
    display: none;
}
@media all and (min-width: 768px) {
    .wr-rates-kinds.ratesSliderMobile{
        display: block;
    }
}
@media all and (min-width: 1200px) {
    .wr-rates-kinds.ratesSliderMobile {
        display: none;
    }
}
@media all and (min-width: 768px) {
    .wr-rates-kinds.ratesSliderMobileSmall{
        display: none;
    }
}
.wr-rates-functions li:nth-child(2n){
    background: #E4E8F4;
    border-radius: 8px 0 0 8px;
}
.rates-free-image{
    display: inline-flex;
    flex-direction: column;
}
.wr-rates-kinds.inactive  .rates-price {
    display: none;
}
.wr-rates-kinds.inactive  .rates-price {
    display: none;
}
.wr-rates-kinds.inactive  .rates-price-year {
    display: block;
}
.wr-rates-kinds.inactive .rates-oldprice {
    color: white;
}
.wr-rates-kinds.inactive  ul li {
    border: 2px solid #ffffff;
}
.wr-rates-kinds.inactive  ul li::before {
    display: none;
}
.wr-rates-kinds ul{
    text-align: center;
}
.rates-free h4{
    font-family: "GeometriaMedium", sans-serif;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #1E3147;
    margin-top: 24px;
    padding: 5px 0;
    min-width: 196px;
}
.rates-price{
    font-family: "GeometriaBold", sans-serif;
    font-size: 30px;
    letter-spacing: 0.01em;
    color: #33A1FB;
    margin-top: 27px;
    padding: 4px;
}
.rates-price-year {
    font-family: "GeometriaBold", sans-serif;
    font-size: 30px;
    letter-spacing: 0.01em;
    color: #33A1FB;
    margin-top: 27px;
    padding: 4px;
    display: none;
}
.rates-time{
    font-family: "GeometriaRegular", sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #788CA1;
}
.rates-oldprice{
    margin-top: 9px;
    font-family: "GeometriaRegular", sans-serif;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #788CA1;
    text-decoration: line-through;
}
.rates-free li{
    padding: 8px 0 6px 0;
    border-bottom: 1px solid#EBEFF2;
    max-width: 70px;
    text-align: center;
    margin: 0 auto;
}
.rates-kinds-list{
    display: flex;
}
.rates-free{
    border: 2px solid #33A1FB;
    border-radius: 24px;
    background-color: #fff;
}
.rates-functions-text{
    font-family: "GeometriaMedium", sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #1E3147;
    padding: 13.5px 0 12.5px ;
    border-bottom: 1px solid#EBEFF2;
    max-width: 70px;
    text-align: center;
    margin: 0 auto;
}
.rates-free button{
    background: #33A1FB;
    border-radius: 4px;
    font-family: "GeometriaBold", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #F5F7F9;
    border: none;
    padding: 9px 16px 8px 15px;
    margin: 40px 0 48px;
}
.rates-time{
    font-family: "GeometriaRegular", sans-serif;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #788CA1;
}
.wr-rates-payment{
    background: #33A1FB;
    border-radius: 50px;
    font-family: "GeometriaBold", sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 62px 29px 29px 28px;
    text-align: center;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    box-sizing: border-box;
}
@media all and (min-width: 576px) {
    .wr-rates-payment {
        padding: 46px 46px 26px 20px;
        bottom: -20px;
    }
}
@media all and (min-width: 768px) {
    .wr-rates-payment {
        padding: 23px 10px;
        width: 83%;
    }
}
@media all and (min-width: 1200px) {
    .wr-rates-payment {
        padding: 30px 76px 30px 209px;
        text-align: left;
        font-size: 22px;
    }
}
@media all and (min-width: 1920px) {
    .wr-rates-payment {
        padding: 30px 57px 30px 324px;
        font-size: 24px;
    }
}
.wr-rates-payment img {
    position: absolute;
    width: 123px;
    left: 50%;
    top: 35px;
    transform: translate(-50%, -100%);
}
@media all and (min-width: 576px) {
    .wr-rates-payment img {
        top: 25px;
    }
}
@media all and (min-width: 1200px) {
     .wr-rates-payment img {
         left: 56px;
         top: 50%;
         transform: translateY(-100%);
    }
}
.rates-free-one{
    border: 2px solid #ffffff;
}
.rates-free-premium{
    border: 2px solid #FED56D;
}
.rates-free-minibasic{
    position: relative;
}
.rates-free-minibasic:before{
    position: absolute;
    content: "-20%";
    font-family: "GeometriaMedium", sans-serif;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 5px 7px 4px 6px;
    background-color: #33A1FB;
    border-radius: 34px;
    top: -3%;
    left: 37%;
}
.rates-free-premium{
    position: relative;
}
.rates-free-premium:before{
    position: absolute;
    content: "-20%";
    font-family: "GeometriaMedium", sans-serif;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 5px 7px 4px 6px;
    background-color:#FED56D;
    border-radius: 34px;
    top: -3%;
    left: 37%;
}
.rates-free-free{
    color: #ffffff;
}
.rates-cactus {
    display: none;
}
@media all and (min-width: 1920px) {
    .wr-rates-dashed-circle {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateX(66%);
    }
}
.rates-gmail {
    position: absolute;
    top: 10%;
    right: -6%;
    z-index: -1;
}

.wr-rates-dashed-circle {
    display: none;
    width: 56px;
    height: 56px;
    left: 0;
    bottom: 30%;
    transform: translateX(-50%);
}
@media all and (min-width: 1200px) {
    .wr-rates-dashed-circle {
        display: block;
    }
}
.wr-rates-plus-bold {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    right: -18px;
    z-index: -1;
    transform: rotate(-14.61deg);
}
.wr-rates-plus-thin {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -70px;
    top: 60px;
    transform: rotate(-45deg);
}
.wr-rates-plus-bold div, .wr-rates-plus-thin div{
    background-color: #33A1FB;
}
.wr-rates-plus-bold .wr-rates-plus-vertical {
    width: 4px;
    height: 27px;
}
.wr-rates-plus-bold .wr-rates-plus-horizontal {
    height: 4px;
    width: 27px;
}
.wr-rates-plus-thin .wr-rates-plus-vertical {
    width: 2px;
    height: 25px;
}
.wr-rates-plus-thin .wr-rates-plus-horizontal {
    height: 2px;
    width: 25px;
}