.wr-registering{
    padding-top: 224px;
}
.registering{
    background: #33A1FB;
    border-radius: 60px;
    padding: 71px 74px;
    position: relative;

}

.registering h3{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}
.registering p{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    margin-top: 16px;
}
.registering input{
    font-family: "GeometriaMedium";
    font-size: 18px;
    text-align: left;
    padding: 10px 12px;
    margin-right: 20px;
    border-radius: 10px;
    background: #F8F9FC;
    border: none;

}
.field{
    margin-top: 52px;
}
.registr-btn{
    font-family: GeometriaBold;
    background: #F9D208;
    border-radius: 10px;
    text-align: center;
    padding: 18px 7px;
    color: #ffffff;
    border: none;
    font-size: 20px;

}
.registering-room{
    position: absolute;
    left: 69%;
    top: -10%;
    bottom: 22.24%;
}
.registering-checkbox{
    margin-top: 29px;
}
.registering-checkbox form{
    margin-top: 11px;
    color: #ffffff;
    font-family: "GeometriaRegular";
    font-size: 13px;
}
.registering-checkbox span{
    color: rgba(254, 209, 1, 1);
    text-decoration: underline dotted;

}
.check{
    margin-top: 40px;
}
.check1{
    margin-top: 11px;
}