.wr-services{
    padding: 0 15px;

}
@media all and (min-width: 576px) {
    .wr-services {
        padding: 0 36px;

    }
}
@media all and (min-width: 768px) {
    .wr-services {
        padding: 0 39px;
    }
}
.services {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services .container-title-custom h2{
    text-align: center;
    font-size: 30px;
    line-height: 38px;
}
@media all and (min-width: 576px) {
    .services .container-title-custom h2 {
        font-size: 40px;
        line-height: 50px;
    }
}
.services-logo img{
    width: 100%;
}
.services-logo{
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 66px;
}
@media all and (min-width: 576px) {
    .services-logo {
        max-width: 504px;
        padding-bottom: 196px;
    }
}
@media all and (min-width: 768px) {
    .services-logo {
        max-width: 690px;
        padding-bottom: 184px;
    }
}
@media all and (min-width: 1200px) {
    .services-logo {
        max-width: 920px;
        padding-bottom: 116px;
    }
}
@media all and (min-width: 1920px) {
    .services-logo {
        max-width: 1145px;
        padding-bottom: 154px;
    }
}
.services-logo img:nth-child(2) {
    display: none;
}
@media all and (min-width: 576px) {
    .services-logo img:nth-child(2) {
        display: block;
    }
}
@media all and (min-width: 576px) {
    .services-logo img:nth-child(1) {
        display: none;
    }
}
.using-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 19px;
    margin: 40px 0 50px;
    background-color: #EBEFF2;
    color: #788CA1;
    font-family: 'GeometriaRegular', sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-radius: 8px;
    width: 290px;
}
@media all and (min-width: 576px) {
    .using-mobile {
        margin: 56px 0;
        width: 504px;
    }
}
@media all and (min-width: 768px) {
    .using-mobile {
        display: none;
    }
}
.using{
    display: none;
    margin: 40px 0 50px;
}
@media all and (min-width: 768px) {
    .using {
        display: flex;
        justify-content: center;
        margin: 50px 0 70px;
    }
}
@media all and (min-width: 1200px) {
    .using {
        margin: 70px 0 90px;

    }
}
@media all and (min-width: 1920px) {
    .using {
        margin: 90px 0 110px;
    }
}
.using__before{
    padding: 13px 8px 12px 25px;
    font-family: "GeometriaRegular", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background: #33A1FB;
    border-radius: 47px 0 0 47px;
}
.using__after{
    font-family: "GeometriaRegular", sans-serif;
    font-size: 20px;
    color: #788CA1;
    padding: 12px 13px 12px 24px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 0 47px 47px 0 ;
}
