.wr-steps {
  background-image: url("../media/steps/bg_ellipse.png");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
@media all and (min-width: 1921px) {
  .wr-steps {
    background-size: cover;
  }
}

.wr-steps .container-title-custom  {
 padding: 109px 0 60px;
}

@media all and (min-width: 576px) {
  .wr-steps .container-title-custom  {
    padding: 109px 0 50px;

  }
}
@media all and (min-width: 1200px) {
  .wr-steps .container-title-custom  {
    padding: 109px 0 70px;
  }
}
@media all and (min-width: 1920px) {
  .wr-steps .container-title-custom  {
    padding: 109px 0 90px;
  }
}

.wr-steps-plus {
  filter: blur(3px);
  transform: rotate(-29.17deg);
  top: 35%;
  left: -19px;
  width: 80px;
  height: 80px;
  display: none;
}
.wr-steps-plus div{
  background-color: #33A1FB;
}

.wr-steps-plus-vertical {
  width: 12px;
  height: 80px;
}
.wr-steps-plus-horizontal {
  width: 80px;
  height: 12px;
}

.wr-steps-circle-border {
  width: 117px;
  height: 117px;
  border: 6px solid #33A1FB;
  filter: blur(3px);
  top: 50%;
  right: 0;
  transform: translate(50%,-50%);
  display: none;
}
@media all and (min-width: 1720px) {
  .wr-steps-plus, .wr-steps-circle-border  {
    display: block;
  }
}

.wr-steps-blocks {
  display: grid;
  gap: 110px;
}
@media all and (min-width: 576px) {
  .wr-steps-blocks {
    gap: 140px;
  }
}
@media all and (min-width: 768px) {
  .wr-steps-blocks {
    gap: 144px;
  }
}
@media all and (min-width: 1200px) {
  .wr-steps-blocks {
    gap: 150px;
  }
}

.wr-steps-step {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  margin: 0 auto;
}

@media all and (min-width: 1200px) {
  .wr-steps-step {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .wr-steps-step:nth-child(2) {
    flex-direction: row-reverse;
  }
}



.wr-steps-describe {
  display: grid;
  gap: 20px;
  position: relative;
  align-items: start;
  justify-content: center;
  height: max-content;
  max-width: 500px;
  margin-bottom: 60px;
}
@media all and (min-width: 1200px) {
  .wr-steps-describe {
    margin-bottom: 0;
    margin-left: 124px;
  }
  .wr-steps-step:nth-child(2) .wr-steps-describe{
    margin-right: 124px;
    margin-left: 0;
  }
}
@media all and (min-width: 1920px) {
  .wr-steps-describe {
    margin-left: 135px;
  }
  .wr-steps-step:nth-child(2) .wr-steps-describe{
    margin-right: 135px;
    margin-left: 0;
  }
}
.wr-steps-describe div {
  display: flex;
}
.wr-steps-describe div img {
  margin-right: 17px;
}


.wr-steps-describe h3 {
  font-family: 'GeometriaMedium', sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #1E3147;
}

.wr-steps-describe p {
  font-family: 'GeometriaRegular', sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #1E3147;
  margin-left: 47px;
}

@media all and (min-width: 1920px) {
  .wr-steps-describe p {
    font-size: 19px;
    line-height: 29px;
  }
}

.wr-steps-img {
  position: relative;
}
.wr-steps-img img {
  width: 100%;
}